# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage
.coverage
.pytest_cache/

# Logs
*.log

# VS Code
.vscode/

# Node
node_modules/
.next/
out/
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Outputs and models
outputs/
